@use "../themes";

.info-tab-container {
    background-color: var(--secondary);
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--accent);
}

.info-tab-heading {
    margin-bottom: 25px;
    text-decoration: underline;
}
