@use "../themes";

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
    background-color: var(--bg);
  &.full-page {
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.7);
    z-index: 999;
  }

  .spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid var(--bg);
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  &.small .spinner { width: 20px; height: 20px; border-width: 2px; }
  &.medium .spinner { width: 40px; height: 40px; }
  &.large .spinner { width: 80px; height: 80px; }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}