@use "../../styles/variables.scss" as *;

.home-layout-container {
    display: flex;
    width: 100%;
    align-items: flex-start;
    height: 100vh; 
    overflow: hidden; 
    align-items: stretch;
}

.vertical-line {
    border-left: 1px solid $accent;
}