.nopage-container {
    display: flex;
    width: 100%;
    height: 100svh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.nopage-link {
    color: white;
}