@use "../../../styles/variables.scss" as *;

.home-page-container {
    display: flex;
    flex: 1;
    min-width: 0; 
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: auto; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    &::-webkit-scrollbar {
        display: none;
    }
}

.add-post-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: $secondary;
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 20px;
}

.add-post-title {
    font-size: larger;
    background-color: $secondary;
    border: none;
    color: $white;
    padding: 5px;
    margin-top: 20px;
    border: 1px solid $primary;
    &::placeholder {
        color: $white;
    }
}

.add-post-desc {
    font-size: large;
    resize: none;
    height: 50px;
    background-color: $secondary;
    border-radius: 2px;
    border: 1px solid $primary;
    border-top: none;
    color: $white;
    padding: 5px;
    transition: all 0.2s ease-out;
    &:focus {
        height: 150px;
    }
    &::placeholder {
        color: $white;
    }
}

.add-post-btn {
    font-size: medium;
    border-radius: 5px;
    border: 1px solid $white;
    color: $white;
    padding: 5px;
    cursor: pointer;
    margin-left: auto;
    width: 20%;
    margin-top: 10px;
    background-color: $secondary;
    transition: all 0.5s ease-out;
    &:hover {
        color: $primary;
        border: 1px solid $primary;
    }
}

.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(15px);
    width: 100svw;
    height: 100svh;
}

.confirm-modal {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $primary;
    border-radius: 10px;
    padding: 50px;
    font-size: large;
    
}

.confirm-buttons-container {
    display: flex;
    justify-content: space-between;
}

.confirm-btn {
    background-color: $accent;
    color: $white;
    font-size: large;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover {
        background-color: $secondary;
    }
}

.cancel-btn {
    background-color: rgb(190, 2, 2);
    color: $white;
    font-size: large;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover {
        background-color: rgb(153, 3, 3);
    }
}

.feed-option-div {
    display: flex;
    width: 70%;
    font-size: large;
    justify-content: space-between;
    align-items: center;
}
.feed-option-div > p {
    width: 50%;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease-out;
    &:hover {
        background-color: $accent;
    }
}