@use '../themes';

.all-posts-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 20px 0;

  .no-more-posts {
    padding: 40px;
    color: var(--accent);
    font-weight: 500;
    text-align: center;
  }
}