@use "./variables.scss" as *;

.feed-post-container {
    background-color: $primary;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    margin: 20px;
    max-height: 210px;
}

.feed-post-heading-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feed-post-desc {
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1rem;
    max-height: calc(1rem * 4);
}