@use "./variables.scss" as *;

.feed-post-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $primary;
    border-radius: 10px;
    padding: 7px;
    width: 80%;
    margin: 20px;
    height: 210px;
    border: 5px solid $primary;
    text-decoration: none;
    color: $white;
    &:hover {
        border: 5px solid $accent;
    }
}

.feed-post-heading-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25%;
}

.feed-post-desc {
    display: -webkit-box;
    height: 70%;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1rem;
    max-height: calc(1.01rem * 4);
}

.show-post-text {
    color: $white;
    transition: all 0.2s ease-out;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}