@use "themes";

* {
  box-sizing: border-box;
}

html, body {
  font-family: var(--font-raleway);
  background: var(--bg);
  color: var(--text);
  transition: background 0.2s, color 0.2s;
  margin: 0;
}

a, p {
  font-family: var(--font-archivo);
}

textarea:focus, input:focus{
    outline: none;
}