@use 'variables' as *;

.search-tab-container {
    padding-top: 20px;
    width: 20svw;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.topic-text {
    text-decoration: underline;
    margin: 10px;
    cursor: pointer;
     transition: all 0.2s ease-out;
    &:hover {
        color: $accent;
    }
}

.search-input {
    border: 2px solid $black;
    border-radius: 5px;
    width: 80%;
    font-size: larger;
    padding: 7px;
     transition: all 0.2s ease-out;
    &:focus {
        border: 2px solid $accent;
    }
}