@use 'variables' as *;

.user-mini-container {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    transition: all 0.2s ease-out;
    text-decoration: none;
    color: $white;
    &:hover {
        background-color: $accent;
        border-radius: 10px;
    }
    padding-left: 10px;
    padding-right: 10px;
}

.user-mini-text {
    font-size: small;
}

.user-mini-img {
    margin-right: 15px;
    border-radius: 40px;
}
