@use "themes";
@use "variables" as *;

.user-image {
    border-radius: 50px;
    margin-right: 15px;
}

.user-block-container {
    display: flex;
    text-decoration: none;
    color: var(--text);
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding:5px;
     transition: all 0.2s ease-out;
    &:hover {
        background-color: $accent;
        border-radius: 10px;
    }
}

.user-block-text {
    text-decoration: none;
}