@use "../../../styles/themes.scss" as *;
.settings-page {
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin: 0 auto;
  color: var(--text);
  width: 100%;
  max-width: 1200px;
  overflow-y: auto; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    &::-webkit-scrollbar {
        display: none;
    }
  .settings-main-title {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 32px;
  }

  .settings-content-row {
    display: flex;
    flex-direction: row; 
    gap: 32px;
    align-items: flex-start;

    @media (max-width: 1400px) {
      flex-direction: column; 
    }
  }

  .settings-section {
    width: 100%;
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    border-radius: 16px;
    padding: 32px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05);

    &.main-column { flex: 2; }
    &.side-column { flex: 1; }
  }

  .settings-subtitle {
    font-size: 1.25rem;
    margin-bottom: 20px;
  }

  .settings-divider {
    height: 1px;
    background: var(--primary);
    margin: 32px 0;
  }
}