@use "../../../../styles/variables.scss" as *;

.user-page-container {
    display: flex;
    width: 100%;
    height: 100svh;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 20px;
}

.user-page-info-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    background-color: $secondary;
    width: 80%;
    border-radius: 15px;
    padding: 20px;
}

.user-page-data {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.user-page-image {
    border-radius: 50%;
}