@use "../../../../styles/variables.scss" as *;

.user-page-container {
    display: flex;
    flex: 1;
    min-width: 0; 
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: auto; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    &::-webkit-scrollbar {
        display: none;
    }
}

.user-page-info-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    background-color: $secondary;
    width: 80%;
    border-radius: 15px;
    padding: 20px;
}

.user-page-data {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.user-page-image {
    border-radius: 50%;
}