.post-container {
    display: flex;
    flex: 1;
    min-width: 0; 
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: auto; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    &::-webkit-scrollbar {
        display: none;

    }
}