@use "../themes";

.user-image {
    border-radius: 50px;
    margin-right: 15px;
}

.user-block-container {
    width: 80%;
    display: flex;
    text-decoration: none;
    color: var(--text);
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding:5px;
    transition: all 0.2s ease-out;
    border-radius: 5px;
    border: 1px solid var(--accent);
    &:hover {
        background-color: var(--accent);
    }
    overflow: hidden;
}

.user-block-text {
    text-decoration: none;
}