@use "../themes";
.user-tab-container {
    width: 20svw;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.user-tab-option {
    font-size: larger;
    text-decoration: none;
    color: var(--text);
    margin-bottom: 30px;
    cursor: pointer;
    letter-spacing: 2px;
     transition: all 0.2s ease-out;
    &:hover {
        color: var(--accent);
    }
}

.logout-btn {
    text-decoration: none;
    color: var(--text);
    background-color: var(--accent);
    padding: 15px;
    border-radius:10px;
    margin-top: 50px;
    transition: all 0.2s ease-out;
    &:hover {
        font-size: larger;
        color: var(--bg);
    }
}